name: Validate Renovate Config

on:
  pull_request:
    paths:
      - 'renovate.json'
      - 'renovate.json5'
      - '.github/renovate.json'
      - '.github/renovate.json5'
      - '.github/workflows/renovate-config.yaml'
  push:
    branches:
      - main
    paths:
      - 'renovate.json'
      - 'renovate.json5'
      - '.github/renovate.json'
      - '.github/renovate.json5'
      - '.github/workflows/renovate-config.yaml'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Validate renovate config
        run: |
          npx --yes --package renovate -- renovate-config-validator --no-global renovate.json
          npx --yes --package renovate -- renovate-config-validator --strict --no-global renovate.json
