name: Scaffold Drift Check

on:
  pull_request:
    paths:
      - '.github/workflows/on-pr.yaml'
      - '.github/workflows/on-tag.yaml'
      - '.github/workflows/dependency-review.yaml'
      - '.github/workflows/codeql.yaml'
      - '.github/workflows/pr-required-checks.yaml'
      - '.github/workflows/renovate-config.yaml'
      - '.github/workflows/scaffold-drift-check.yaml'
  push:
    branches:
      - main
    paths:
      - '.github/workflows/on-pr.yaml'
      - '.github/workflows/on-tag.yaml'
      - '.github/workflows/dependency-review.yaml'
      - '.github/workflows/codeql.yaml'
      - '.github/workflows/pr-required-checks.yaml'
      - '.github/workflows/renovate-config.yaml'
      - '.github/workflows/scaffold-drift-check.yaml'

permissions:
  contents: read

jobs:
  drift-check:
    uses: orhayoun-eevee/build-workflow/.github/workflows/scaffold-drift-check.yaml@v0.1.5
    with:
      repo_name: helm-common-lib
    secrets:
      gh_app_id: ${{ secrets.GHCR_AUTO_APP_ID }}
      gh_app_private_key: ${{ secrets.GHCR_AUTO_PKEY }}
